@import url(global_variables.css);

:root{
    --column-height: 10vh;
    --colum-width: 50%;
}

#main_page-window{
  display: flex;

  width: 100%;
  height: 100%;
}

  .main_page-left-column {
    margin-right: 5px;

    height: 100%;
    width: var(--colum-width);

    background: var(--main-backgroumd-color);

    border-radius: var(--border-element-radius);
  }

  .right-column {
    margin-left: 5px;

    height: 100%;
    width: var(--colum-width);

    background: var(--main-backgroumd-color);

    border-radius: var(--border-element-radius);
  }
  
  .main_page-list-notes-head-search-block {
    display: flex;
    height: var(--element-height);
    width: 100%;

    align-items: center;

    background-color: #dcdcdc;
    border-radius: 20px 20px 0 0;
  }

  .main_page-list-notes-head-search-field {
    box-sizing: border-box;
    width: 100%;
    height: 70%;

    border-radius: var(--border-element-radius);
    background-color: var(--sub-background-color);
    border: none;

    font-size: 22px;

    padding-left: 10px;
    padding-right: 10px;
  }

.list-notes {
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100% - var(--element-height));
}

.list-notes div {
  display: flex;
  align-items: center;

  max-height: 3.9em;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 2px;

  border-radius: var(--border-element-radius);

  background: var(--element-color);
}

.list-notes div p{
  align-self:normal;
  box-sizing: border-box;
  width: 100%;

  padding: 5px;
  padding-left: 10px;
  /* padding-bottom: 10px; */

  overflow: hidden;
}

.list-notes div img{
  padding: 3px;

  margin-left: 5px;
  margin-right: 5px;
}

.right-search-line {
  box-sizing: border-box;
  width: 100%;
  height: 70%;

  border-radius: var(--border-element-radius);
  background-color: var(--sub-background-color);
  border: none;

  font-size: 22px;

  padding-left: 10px;
  padding-right: 10px;
}

.right-search-line {
  margin-left: 1vw;
}

#add-catalog-block {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;

  border: 1px solid black;
  border-radius: var(--border-element-radius);
}

#add-catalog-block img {
  display: flex;
}

#add-catalog-block p {
  display: flex;
  flex-direction: row;
  text-align: center;

  padding: 0;
  margin: 0;

  margin-right: 8px;
}

.sort-catalog {
  width: var(--icon-size);
  height: var(--icon-size);

  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.catalogs-list {
  justify-content: center;
  height: calc(100% - var(--element-height));

  box-sizing: border-box;
  overflow-y: auto;
}

.catalog {
  display: flex;
  align-items: center;

  height: var(--element-height);

  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  border-radius: var(--border-element-radius);
  background: var(--element-color);
}

.catalog-name {
  box-sizing: border-box;
  width: calc(100% - 165px);

  padding: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  max-height: 2.5em;
  padding-top: 0px;

  font-size: 1em;

  overflow: hidden;
}

.new-catalog{
  justify-content: space-between;
}
/* Добавление нового элемента */

.dialogue-background {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background: #dcdcdca1;
}

.dialogue-window {
  box-sizing: border-box;

  width: 400px;
  height: max-content;

  padding: 20px;

  background-color: #b4b4b4;
  border-radius: var(--border-element-radius);

}

.head{
  margin: 0;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 20px;

  font-size: 1em;
}

.buttons {
  display: flex;

  justify-content: right;
}

.agree {
  background: var(--positive-color);

  font-size: 1em;

  padding: 10px;
  margin-left: 10px;
  border: 0;

  border-radius: var(--border-element-radius);
}

.disagree {
  background: #9e9e9e;

  font-size: 1em;

  padding: 10px;
  border: 0;

  border-radius: var(--border-element-radius);
}


.note-editor {
  display: flex;
  box-sizing: border-box;
  justify-content: center;

  width: 100%;
  height: calc(100% - var(--element-height));

  border: none;
  margin: 0;
  padding: 10px;

  background-color: var(--sub-background-color);
  border-radius: var(--border-element-radius);
  font-size: 1.5em;

  outline: none;
  resize: none;
}

#note-edit-block{
  height: inherit;
  width: inherit;
}

#note-editing-window {
  height: inherit;
  width: inherit;
}

#note-add-block{
  height: inherit;
  width: inherit;
}

#note-adding-window {
  height: inherit;
  width: inherit;
}

#main_page-block-list-notes {
  width: 100%;
  height: inherit;
}

/* Окно редактирования заметки */

.note-editor {
  box-sizing: border-box;
  justify-content: center;

  width: inherit;
  height: calc(100% - var(--element-height));

  border: none;
  margin: 0;
  padding: 10px;

  background-color: var(--sub-background-color);
  border-radius: var(--border-element-radius);
  font-size: 1.5em;

  outline: none;
  resize: none;
}

/* Отключенне блоки  */

/* .notes-disabled {
  display: none;
  box-sizing: border-box;
  overflow-y: scroll;
  height: calc(100% - var(--element-height));
} */

.disabled {
  display: none;
}

/*  */

.catalog-editor {
  display: flex;
  justify-content: center;

  width: calc(100% - 160px);
  border: none;

  background-color: var(--element-color);
  border-radius: var(--border-element-radius);
  font-size: 1em;

  outline: none;
  resize: none;
}

#c1 img{
  fill: yellow;
}